$primary: hsl(171, 100%, 41%);
$link: hsl(171, 100%, 41%);
$link-hover: hsl(171, 100%, 28%);
$info: hsl(203, 100%, 41%);
$success: hsl(134, 100%, 41%);
$warning: hsl(171, 100%, 41%);
$danger: hsl(6, 100%, 41%);
$dark: hsl(171, 100%, 26%);
$text: hsl(156, 100%, 41%);
